*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #cca988;
}

nav{
    background: #d86f0d;
}
.form-group.Success  input {
    border-color: #08ca76;

}
.form-group.error input{
    border-color: #ff3860;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input {
    display:block;
}
.form-group input:focus {
    outline:0;
}
.form-group.error{
    color:#ff3860;
    font-size:9px;
    
}