*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #cca988;
}

nav{
    background: #d86f0d;
}
#login{
    position: relative;
    width: 50%;
    height: 440px;
    background-color: antiquewhite;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
}